bindings/CPP-CodeSynthesis/QIF_30.CodeSynthesis/QIFLibrary/Traceability.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document is part of QIF 3.0, an open, industry-wide standard -->
<!-- established by the Dimensional Metrology Standards Consortium.    -->
<!-- This document shall not be used in any manner to claim any        -->
<!-- proprietary rights to such information, such as rights to a       -->
<!-- patent, trademark, or copyright.                                  -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns="http://qifstandards.org/xsd/qif3"
  xmlns:t="http://qifstandards.org/xsd/qif3"
  targetNamespace="http://qifstandards.org/xsd/qif3"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  version="3.0.0">

  <xs:include schemaLocation="../QIFLibrary/IntermediatesPMI.xsd"/>

  <xs:annotation>
    <xs:documentation>
      The Traceability.xsd schema file defines types that describe the
      circumstances of a quality measurement.
    </xs:documentation>
  </xs:annotation>

  <xs:complexType name="InspectionProgramType">
    <xs:annotation>
      <xs:documentation>
        The InspectionProgramType defines the inspection program.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="File"
        type="FileType">
        <xs:annotation>
          <xs:documentation>
            The File element is information about the inspection program
            file, include its name, version, and format.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Description element is a description of the file.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FormalStandardId"
        type="QIFReferenceType">
        <xs:annotation>
          <xs:documentation>
            The FormalStandardId element is the id of the standard or
            specification against which the inspection characteristics are
            to be evaluated.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Author"
        type="EmployeeType">
        <xs:annotation>
          <xs:documentation>
            The Author element gives information about the author of the
            inspection program.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InspectionSoftwareItemsType">
    <xs:annotation>
      <xs:documentation>
        The InspectionSoftwareItemsType defines information about software
        used to create the product model, to analyze data and/or to perform
        the product inspection.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InspectionProgramGenerationSoftware"
        type="ArrayReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionProgramGenerationSoftware element gives
            information about the ids of software used to generate the
            program.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionProgramExecutionSoftware"
        type="ArrayReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionProgramExecutionSoftware element gives
            information about the ids of software used to perform the
            inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AnalysisSoftware"
        type="ArrayReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional AnalysisSoftware element gives information about
            the ids of software used for inspection data analysis.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CADSoftware"
        type="ArrayReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional CADSoftware element gives information about the
            ids of CAD software used to create the product model.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DMESoftware"
        type="ArrayReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional DMESoftware element gives information about the
            ids of software running on the DME.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EnvironmentType">
    <xs:annotation>
      <xs:documentation>
        The EnvironmentType defines information about the temperature
        and/or humidity at a particular time during a measurement process.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="Attributes"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Attributes element contains user defined
            attributes (typified, binary array, or XML structured).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ObjectTemperature"
        type="MeasuredTemperatureValueType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ObjectTemperature element is the temperature of
            the product or feature to which an environment instance is
            attached.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AmbientTemperature"
        type="MeasuredTemperatureValueType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional AmbientTemperature element is the temperature of
            the air in the area in which the inspection is performed.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RelativeHumidity"
        type="MeasuredDecimalType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional RelativeHumidity element is the relative humidity
            of the air in the area in which the inspection is performed.
            The RelativeHumidity value must be between 0 and 100.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateAndTime"
        type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>
            The DateAndTime element gives the date and time at which the
            environment data is recorded.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimeDescription"
        type="TimeDescriptionType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional TimeDescription element gives the time, relative
            to the inspection, at which the environment data is measured.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EnvironmentsType">
    <xs:annotation>
      <xs:documentation>
        The EnvironmentsType defines a list of environment instances.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Environment"
        type="EnvironmentType"
        maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Each Environment element gives information about an environment
            record instance.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="n"
      type="NaturalType"
      use="required">
      <xs:annotation>
        <xs:documentation>
          The required n attribute is the number of environments in the
          list.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="InspectionTraceabilityType">
    <xs:annotation>
      <xs:documentation>
        The InspectionTraceabilityType defines information to support
        traceability of the inspection report.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InspectingOrganization"
        type="OrganizationType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectingOrganization element gives information
            about the organization that generated the data in the report.
            The name of the inspecting organization is the 'Organization
            Name' required by AS9102A and AS9102B.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomerOrganization"
        type="CustomerOrganizationType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional CustomerOrganization element gives information
            about the organization that is the customer for the data in the
            report.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplierCode"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional SupplierCode element is a number given by the
            Customer to the organization that generated the XML file in
            which this information appears. From the customer's point of
            view, the supplier code identifies a specific supplier.
            Supplier code is sometimes called Vendor Code, Vendor
            Identification Number, Supplier Number, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PurchaseOrderNumber"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional PurchaseOrderNumber element is an identifier
            assigned by the customer to a purchase order. A purchase order
            is a contract between the supplier and the customer that
            commits the customer and supplier to specific prices for
            specific goods (and possibly specific amounts of goods). A
            purchase order may be a standing agreement under which a number
            of specific orders are made over a period of time.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrderNumber"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional OrderNumber element is an identifier assigned by
            the customer to an order. Where there is a standing purchase
            order, there may be several order numbers for specific
            purchases over a period of time.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReportNumber"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ReportNumber element is the number assigned to the
            report corresponding to the reported data. If AS9102A or
            AS9102B forms are being used, this may be used as the value of
            the FAI (First Article Inspection) Report Number field.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionScope"
        type="InspectionScopeEnumType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional, enumerated InspectionScope element is the scope
            of a first article inspection as used in AS9102A and AS9102B.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionMode"
        type="InspectionModeEnumType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional, enumerated InspectionMode element is the mode of
            a first article inspection as used in AS9102A and AS9102B.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartialInspection"
        type="PartialInspectionType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional PartialInspection element gives the rationale for
            a partial inspection. It should be used if the value of the
            InspectionMode element is FAI_Partial and may be used for any
            other partial inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotableEvents"
        type="NotableEventsType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional NotableEvents element is a list of notable events
            associated with the inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotedEvents"
        type="NotedEventsType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional NotedEvents element is a list of noted events
            associated with the inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionStart"
        type="xs:dateTime"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionStart element is the date and time in
            GMT (not local time) when the inspection started.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionEnd"
        type="xs:dateTime"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionEnd element is the date and time in GMT
            (not local time) when the inspection completed. For systems
            that do both inspection and analysis, it would imply completion
            of both inspection and the analysis.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionSoftwareItems"
        type="InspectionSoftwareItemsType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionSoftwateItems element is a list of
            information describing the software used in model creation,
            inspection and data analysis.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionProgram"
        type="InspectionProgramType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionProgram element gives information about
            a program (such as a CMM program) used or to be used to in the
            inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionOperator"
        type="EmployeeType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionOperator element gives information about
            the person who operated the inspection device that gathered the
            data being reported.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReportPreparer"
        type="EmployeeType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ReportPreparer element gives information about the
            person who prepared the inspection report (an AS9102A or
            AS9102B first article inspection report, for example).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReportPreparationDate"
        type="xs:dateTime"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ReportPreparationDate element is the date and time
            in GMT (not local time) when the report was completed.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReportType"
        type="xs:token"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ReportType element is the type of inspection
            report.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SecurityClassification"
        type="SecurityClassificationType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional SecurityClassification element gives the security
            classification of the inspection report.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlantLocation"
        type="LocationType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional PlantLocation element gives information about the
            location of the plant where the inspection was performed.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            This optional compositor allows a choice between identifying a
            plan in a separate file that was used in preparing this file or
            identifying the plan in this file as the one that was used in
            preparing this file. This is relevant if the file contains
            results.
          </xs:documentation>
        </xs:annotation>
        <xs:element name="ReferencedQIFPlanInstance"
          type="QPIdFullReferenceType">
          <xs:annotation>
            <xs:documentation>
              The ReferencedQIFPlanInstance element identifies the
              plan that was used in preparing this file.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ReferencedQIFPlan"
          type="xs:NMTOKEN"
          fixed="ThisFile">
          <xs:annotation>
            <xs:documentation>
              The ReferencedQIFPlan element indicates that the QIF Plans
              file that was used in preparing this file is the one in this
              file.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="Errors"
        type="ErrorsType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Errors element is a list of any errors that
            occurred during the measurement process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="Attributes"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Attributes element contains user defined
            attributes (typified, binary array, or XML structured).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PreInspectionTraceabilityType">
    <xs:annotation>
      <xs:documentation>
        The PreInspectionTraceabilityType defines information to support
        traceability of the inspection report.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InspectingOrganization"
        type="OrganizationType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectingOrganization element gives information
            about the organization that generated the data in the report.
            The name of the inspecting organization is the 'Organization
            Name' required by AS9102A and AS9102B.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomerOrganization"
        type="CustomerOrganizationType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional CustomerOrganization element gives information
            about the organization that is the customer for the data in the
            report.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplierCode"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional SupplierCode element is a number given by the
            Customer to the organization that generated the XML file in
            which this information appears. From the customer's point of
            view, the supplier code identifies a specific supplier.
            Supplier code is sometimes called Vendor Code, Vendor
            Identification Number, Supplier Number, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PurchaseOrderNumber"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional PurchaseOrderNumber element is an identifier
            assigned by the customer to a purchase order. A purchase order
            is a contract between the supplier and the customer that
            commits the customer and supplier to specific prices for
            specific goods (and possibly specific amounts of goods). A
            purchase order may be a standing agreement under which a number
            of specific orders are made over a period of time.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrderNumber"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional OrderNumber element is an identifier assigned by
            the customer to an order. Where there is a standing purchase
            order, there may be several order numbers for specific
            purchases over a period of time.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AsmPathIds"
        type="ArrayReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional AsmPathIds element is the list of AsmPath QIF ids.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReportNumber"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ReportNumber element is the number to be assigned
            to the report corresponding to the reported data. If AS9102A or
            AS9102B forms are being used, this may be used as the value of
            the FAI (First Article Inspection) Report Number field.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionScope"
        type="InspectionScopeEnumType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional, enumerated InspectionScope element is the scope
            of a first article inspection as used in AS9102A and AS9102B.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionMode"
        type="InspectionModeEnumType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional, enumerated InspectionMode element is the mode of
            a first article inspection as used in AS9102A and AS9102B.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartialInspection"
        type="PartialInspectionType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional PartialInspection element gives the rationale for
            a partial inspection. It should be used if the value of the
            InspectionMode element is FAI_Partial and may be used for any
            other partial inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotableEvents"
        type="NotableEventsType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional NotableEvents element is a list of notable events
            associated with the inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionSoftwareItems"
        type="InspectionSoftwareItemsType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionSoftwateItems element is a list of
            information describing the software to be used in model
            creation, inspection and data analysis.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionProgram"
        type="InspectionProgramType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionProgram element gives information about
            a program (such as a CMM program) to be used to in the
            inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SecurityClassification"
        type="SecurityClassificationType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional SecurityClassification element gives the security
            classification of the inspection report.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlantLocation"
        type="LocationType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional PlantLocation element gives information about the
            location of the plant where the inspection was performed.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            This optional compositor allows a choice between identifying a
            separate file containing the QIF Plans file that was used in
            preparing this file or identifying the plan in this file as the
            one that was used in preparing this file. This is relevant if
            the file contains results.
          </xs:documentation>
        </xs:annotation>
        <xs:element name="ReferencedQIFPlanInstance"
          type="QPIdFullReferenceType">
          <xs:annotation>
            <xs:documentation>
              The ReferencedQIFPlanInstance element identifies the
              plan that was used in preparing this file.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ReferencedQIFPlan"
          type="xs:NMTOKEN"
          fixed="ThisFile">
          <xs:annotation>
            <xs:documentation>
              The ReferencedQIFPlan element indicates that the QIF Plans
              file that was used in preparing this file is the one in this
              file.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element name="FormalStandardId"
        type="QIFReferenceType">
        <xs:annotation>
          <xs:documentation>
            The FormalStandardId element is the id of the standard or
            specification against which the inspection characteristics are
            to be evaluated.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="Attributes"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Attributes element contains user defined
            attributes (typified, binary array, or XML structured).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductTraceabilityType">
    <xs:annotation>
      <xs:documentation>
        The ProductTraceabilityType defines traceability information for a
        part or assembly.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ReportNumber"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ReportNumber element is the number to be assigned
            to the report corresponding to the reported data. If AS9102A or
            AS9102B forms are being used, this may be used as the value of
            the FAI (First Article Inspection) Report Number field.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManufacturingProcessId"
        type="QIFReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ManufacturingProcessId element is a reference to
            the traceability information for the manufacturing process to
            be used to create the product.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FixtureId"
        type="QIFReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional FixtureId element is a QIF reference to a fixture
            defined to be used in the setup of a measurement plan.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotableEventIds"
        type="ArrayReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional NotableEventIds element is a list of QIF ids of
            notable events.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionSoftwareItems"
        type="InspectionSoftwareItemsType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionSoftwareItems element is a list of
            software to be used in the inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionProgram"
        type="InspectionProgramType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionProgram element gives information about
            a program (such as a CMM program) to be used to inspect the
            product.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasurementDeviceIds"
        type="ArrayReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional MeasurementDeviceIds element is a list of
            references to the measurement devices to be used in the
            inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="Attributes"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Attributes element contains user defined
            attributes (typified, binary array, or XML structured).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActualProductTraceabilityType">
    <xs:annotation>
      <xs:documentation>
        The ActualProductTraceabilityType defines traceability information
        for a part or assembly.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SampleNumber"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional SampleNumber element is the number assigned to a
            product with less restriction than Serial Number. e.g. in a
            Factorial Designed Experiment each product will be assigned a
            'run number'.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LotNumber"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional LotNumber element is the number of the lot from
            which the sample is drawn.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReportNumber"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ReportNumber element is the number assigned to the
            report corresponding to the reported data. If AS9102A or
            AS9102B forms are being used, this may be used as the value of
            the FAI (First Article Inspection) Report Number field.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManufacturingProcessId"
        type="QIFReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ManufacturingProcessId element is a reference to
            the traceability information for the manufacturing process used
            to create the product.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FixtureId"
        type="QIFReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional FixtureId element is a QIF reference to a fixture
            used to create the product.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotableEventIds"
        type="ArrayReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional NotableEventIds element is a list of QIF ids of
            notable events.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NotedEventIds"
        type="ArrayReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional NotedEventIds element is a list of QIF ids of
            noted events that occurred during creation of the product.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionStart"
        type="xs:dateTime"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionStart element is the date and time in
            GMT (not local time) when the inspection started.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionEnd"
        type="xs:dateTime"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionEnd element is the date and time in GMT
            (not local time) when the inspection of the product completed.
            For systems that do both inspection and analysis, it would
            imply completion of both inspection and the analysis.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionSoftwareItems"
        type="InspectionSoftwareItemsType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionSoftwareItems element is a list of
            software used in the inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionProgram"
        type="InspectionProgramType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionProgram element gives information about
            a program (such as a CMM program) used or to inspect the
            product.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InspectionOperator"
        type="EmployeeType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional InspectionOperator element gives information about
            the person who operated the inspection device that gathered the
            data being reported.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasurementDeviceIds"
        type="ArrayReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional MeasurementDeviceIds element is a list of
            references to the measurement devices used in the inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductEnvironments"
        type="EnvironmentsType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductEnvironments element is a list of
            environments recorded during the inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Errors"
        type="ErrorsType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Errors element is a list of any errors that
            occurred during the measurement process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="Attributes"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Attributes element contains user defined
            attributes (typified, binary array, or XML structured).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProcessParameterType">
    <xs:annotation>
      <xs:documentation>
        The ProcessParameterType defines the type and value of a process
        parameter.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ParameterType"
        type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The ParameterType defines the type of the process parameter.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ParameterValue"
        type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The ParameterValue is the value of the process parameter.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProcessParametersType">
    <xs:annotation>
      <xs:documentation>
        The ProcessParametersType defines a list of process parameters.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Parameter"
        type="ProcessParameterType"
        maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Each Parameter element is a single process parameter in the
            list.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="n"
      type="NaturalType"
      use="required">
      <xs:annotation>
        <xs:documentation>
          The required n attribute is the number of parameters in the list.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ManufacturingProcessTraceabilityType">
    <xs:annotation>
      <xs:documentation>
        The ManufacturingProcessTraceabilityType defines traceability
        information for a manufacturing process.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="Attributes"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Attributes element contains user defined
            attributes (typified, binary array, or XML structured).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Description element gives the manufacturing
            process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Job"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Job element is the job number for the
            manufacturing process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Revision"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Revision element is the revision number of the
            manufacturing process (NC cutter tape for example).
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousOperationId"
        type="QIFReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional PreviousOperationId element identifies an instance
            of ManufacturingProcessTraceabilityType giving the
            manufacturing process traceability information for the previous
            manufacturing operation.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Path"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Path element gives the physical route used in a
            manufacturing process, e.g. "Line 3/Drilling machine #7/Spindle
            #2".
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MachineManufacturerName"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional MachineManufacturerName element is the name of the
            company manufacturing the machine tool used in the process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MachineIdentifier"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional MachineIdentifier element is the identifier for
            the machine tool used in the process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OperatorIdentifier"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional OperatorIdentifier element gives an identifier for
            the person operating the machine tool used in the process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Shift"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Shift element gives the shift in which this
            manufacturing process took place.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Department"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional Department element is the name of the department
            undertaking the manufacturing process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResponsibilityIdentifier"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ResponsibilityIdentifier element gives an
            identifier for the entity responsible for this manufacturing
            process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlantSector"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional PlantSector element is the plant sector in which
            the manufacturing process takes place.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProcessParameters"
        type="ProcessParametersType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProcessParameters element gives the type and value
            of process parameters used in the manufacturing process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AssociatedTraceabilityId"
        type="QIFReferenceType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional AssociatedTraceabilityId element identifies an
            instance of ManufacturingProcessTraceabilityType giving
            manufacturing process traceability information associated with
            this manufacturing operation. Some traceability information
            like Department and PlantSector can apply to many items; this
            sort of data can be stored in one instance and referenced by
            other traceability instances.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id"
      type="QIFIdType"
      use="required">
      <xs:annotation>
        <xs:documentation>
          The id attribute is the QIF id of the manufacturing process
          traceability, used for referencing.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ManufacturingProcessTraceabilitiesType">
    <xs:annotation>
      <xs:documentation>
        The ManufacturingProcessTraceabilitiesType defines a list of
        manufacturing traceabilities that can be referenced by their QIF
        Id.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ManufacturingProcessTraceability"
        type="ManufacturingProcessTraceabilityType"
        maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Each ManufacturingProcessTraceability element gives
            traceability information for a manufacturing process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="n"
      type="NaturalType"
      use="required">
      <xs:annotation>
        <xs:documentation>
          The required n attribute is the number of manufacturing
          traceabilities in the list.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="ManufacturingProcessTraceabilities"
    type="ManufacturingProcessTraceabilitiesType">
    <xs:annotation>
      <xs:documentation>
        The global ManufacturingProcessTraceabilities element contains a
        list of manufacturing process traceability information which can be
        referenced by QIF id.
      </xs:documentation>
    </xs:annotation>
  </xs:element>

  <xs:complexType name="ErrorsType">
    <xs:annotation>
      <xs:documentation>
        The ErrorsType defines a list of errors that occurred during the
        measurement process.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Error"
        type="xs:string"
        maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Each Error element describes an error that occurred during the
            measurement process.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="n"
      type="NaturalType"
      use="required">
      <xs:annotation>
        <xs:documentation>
          The required n attribute is the number of Error elements in the
          set.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="PartialInspectionType">
    <xs:annotation>
      <xs:documentation>
        The PartialInspectionType defines the rationale for a partial
        inspection.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BaselineProductNumber"
        type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The BaselineProductNumber element gives an identifier of a
            product that has had a previous inspection (such as FAI) and is
            of the same type as the one being subjected to partial
            inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BaselineProductVersion"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional BaselineProductVersion element is the version of
            the product that had a previous inspection.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReasonForPartialInspection"
        type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The ReasonForPartialInspection element is the reason for a
            partial inspection, for example, changes in design, process,
            manufacturing location, etc.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TimeDescriptionEnumType">
    <xs:annotation>
      <xs:documentation>
        The TimeDescriptionEnumType enumerates values that describe the
        time, relative to the inspection, at which the environment data are
        measured. INTERMEDIATE means between INSPECTION_START and
        INSPECTION_END.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="INSPECTION_START"/>
      <xs:enumeration value="INSPECTION_END"/>
      <xs:enumeration value="INTERMEDIATE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="TimeDescriptionType">
    <xs:annotation>
      <xs:documentation>
        The TimeDescriptionType defines the time, relative to the
        inspection, at which the environment data are measured.
      </xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="TimeDescriptionEnum"
        type="TimeDescriptionEnumType">
        <xs:annotation>
          <xs:documentation>
            The TimeDescriptionEnum element describes an often-used
            relative time.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherTimeDescription"
        type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The OtherTimeDescription element gives a relative time in
            natural language.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>

  <xs:simpleType name="InspectionModeEnumType">
    <xs:annotation>
      <xs:documentation>
        The InspectionModeEnumType enumerates values that describe the
        first article inspection mode. For an AS9102A or AS9102B
        application, allowable values are FAI_Full for a full first article
        inspection or FAI_Partial for a partial first article inspection.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="FAI_Full"/>
      <xs:enumeration value="FAI_Partial"/>
      <xs:enumeration value="100Percent"/>
      <xs:enumeration value="APQP"/>
      <xs:enumeration value="KPC"/>
      <xs:enumeration value="PPAP"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="InspectionScopeEnumType">
    <xs:annotation>
      <xs:documentation>
        The InspectionScopeEnumType enumerates values that describe the
        first article inspection scope. For an AS9102A or AS9102B
        application, allowable values are DETAIL and ASSEMBLY.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="DETAIL"/>
      <xs:enumeration value="ASSEMBLY"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ValidationCountsType">
    <xs:annotation>
      <xs:documentation>
        The ValidationCountsType contains redundancy checks in the form of
        counts of items in the significant lists contained within a QIF
        document.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExternalQIFReferencesCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ExternalQIFReferencesCount element is the
            number of external QIF references in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatumDefinitionsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional DatumDefinitionsCount element is the number of
            datum definitions in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatumTargetDefinitionsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional DatumTargetDefinitionsCount element is the number
            of datum target definitions in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransformsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional TransformsCount element is the number of
            transforms in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CoordinateSystemsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional CoordinateSystemsCount element is the number of
            coordinate systems in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatumReferenceFramesCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional DatumReferenceFramesCount element is the number of
            datum reference frames in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasurementResourcesCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional MeasurementResourcesCount element is the number of
            measurement resources in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ThreadSpecificationsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ThreadSpecificationsCount element is the number of
            thread specifications in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductGeometrySetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductGeometrySetCount element is the number of
            geometric entities present in the CAD scene.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductTopologySetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductTopologySetCount element is the number of
            topological entities in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductNoteSetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductNoteSetCount element is the number of
            notes in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductNoteFlagSetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductNoteFlagSetCount element is the number of
            flag notes present in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductPartNoteSetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductPartNoteSetCount element is the number of
            part notes and standard notes in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductViewSetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductViewSetCount element is the number of views
            in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductLayerSetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductLayerSetCount element is the number of model
            layers.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductCoordinateSystemSetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductCoordinateSystemSetCount element is the
            number of coordinate systems in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductVisualizationSetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductVisualizationSetCount element is the number
            of display information objects associated with PMI entities in
            the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductAuxiliarySetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductAuxiliarySetCount element is the number of
            auxiliary objects present in the CAD scene.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductPartSetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductPartSetCount element is the number of
            parts in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductAssemblySetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductAssemblySetCount element is the number of
            assemblies in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductComponentSetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductComponentSetCount element is the number of
            components in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductAsmPathsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductAsmPathsCount element is the number of asm
            paths present in the CAD scene.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FeatureDefinitionsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional FeatureDefinitionsCount element is the number of
            inspection feature definitions in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FeatureNominalsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional FeatureNominalsCount element is the number of
            nominal inspection features.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FeatureItemsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional FeatureItemsCount element is the number of
            inspection features items in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CharacteristicDefinitionsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional CharacteristicDefinitionsCount element is the
            number of characteristic definitions in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DefaultCharacteristicDefinitionsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional DefaultCharacteristicDefinitionsCount element is
            the number of default or "unless otherwise specified"
            characteristic definitions in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DefaultToleranceDefinitionsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional DefaultToleranceDefinitionsCount element is the
            number of default or "unless otherwise specified" tolerance
            definitions which allow a tolerance definition to be shared
            among characteristic definitions of different types.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CharacteristicNominalsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional CharacteristicNominalsCount element is the number
            of characteristic nominals in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CharacteristicItemsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional CharacteristicItemsCount element is the number of
            characteristic items in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CharacteristicGroupsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional CharacteristicGroupsCount element is the number of
            characteristic groups in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WeldSymbolSetCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional WeldSymbolSetCount element is the number of
            Weld Symbols in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasurementsPlanPresent"
        type="xs:boolean"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional MeasurementsPlanPresent element is a boolean
            indicating whether a measurement plan is present in the QIF
            document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MeasurementsResultsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional MeasurementsResultsCount element is the number of
            measurement results in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatisticalStudyPlansCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional StatisticalStudyPlansCount element is the number
            of statistical study plans in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatisticalStudiesResultsCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional StatisticalStudiesResultsCount element is the
            number of statistical studies results in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorrectiveActionPlansCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional CorrectiveActionPlansCount element is the number
            of corrective action plans in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManufacturingProcessTraceabilitiesCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ManufacturingProcessTraceabilitiesCount element is
            the number of manufacturing process traceabilities in the QIF
            document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FeatureRulesCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional FeatureRulesCount element is the number of
            feature rules in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DMESelectionRulesCount"
        type="xs:unsignedInt"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional DMESelectionRulesCount element is the number of
            DME selection rules in the QIF document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SignaturePresent"
        type="xs:boolean"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional SignaturePresent element is a boolean
            indicating whether a digital signature is present in the QIF
            document.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ProductDataQualityAreaEnumType">
    <xs:annotation>
      <xs:documentation>
        The ProductDataQualityAreaEnumType enumerates values that describe
        product data quality areas.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="OVERALL"/>
      <xs:enumeration value="PRODUCT_GEOMETRIC_DATA"/>
      <xs:enumeration value="PRODUCT_MANUFACTURING_INFORMATION"/>
      <xs:enumeration value="BUSINESS_PRACTICE"/>
      <xs:enumeration value="DESIGN_PRACTICE"/>
      <xs:enumeration value="DERIVATIVE_COMPARE"/>
      <xs:enumeration value="UNDEFINED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ProductDataQualityAreaType">
    <xs:annotation>
      <xs:documentation>
        The ProductDataQualityAreaType defines the area to which a product
        data quality verification and validation check applies.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element name="AreaEnum"
          type="ProductDataQualityAreaEnumType">
          <xs:annotation>
            <xs:documentation>
              The AreaEnum element describes an often-used product data
              quality area.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="OtherArea"
          type="xs:string">
          <xs:annotation>
            <xs:documentation>
              The OtherArea element describes the product data quality area
              in natural language.
            </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ProductDataQualityCheckType">
    <xs:annotation>
      <xs:documentation>
        The ProductDataQualityCheckType contains information about a product
        data quality verification and validation check and its result.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Type"
        type="ProductDataQualityAreaType">
        <xs:annotation>
          <xs:documentation>
            The Type element defines the area to which this product
            data quality verification and validation check applies.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description"
        type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The Description element describes this particular product
            data quality verification and validation check.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Requirements"
        type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The Requirements element defines the requirements of this
            product data quality check in natural language.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SourceOfRequiredness"
        type="xs:string"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional SourceOfRequiredness element defines why this
            product data quality check is requires, i.e., by citing an
            external customer requirement such as MilStd.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicationTool"
        type="SoftwareType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ApplicationTool element gives information about
            the software application used to perform this product data
            quality check.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="XsltFile"
        type="xs:anyURI"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional XsltFile element is the URI for an XSLT file used
            or to be used in a QIF document XSLT check.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultStatement"
        type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The ResultStatement element makes a statement about the result
            of this product data quality check in natural language.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResultStatus"
        type="CheckStatusEnumType">
        <xs:annotation>
          <xs:documentation>
            The ResultStatus element is the status of this product data
            quality check.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CheckStatusEnumType">
    <xs:annotation>
      <xs:documentation>
        The CheckStatusEnumType enumerates values that describe the
        status of a product data quality check.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="PASS"/>
      <xs:enumeration value="FAIL"/>
      <xs:enumeration value="PENDING"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ProductDataQualityChecksType">
    <xs:annotation>
      <xs:documentation>
        The ProductDataQualityType defines a list of product
        data quality verification and validation checks.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProductDataQualityCheck"
        type="ProductDataQualityCheckType"
        maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            Each ProductDataQualityCheckType element describes a single
            product data quality check.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="n"
      type="NaturalType"
      use="required">
      <xs:annotation>
        <xs:documentation>
          The required n attribute is the number of product data quality
          checks in the list.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ProductDataQualityType">
    <xs:annotation>
      <xs:documentation>
        The ProductDataQualityType collects required product
        data quality verification and validation checks (PDQ).
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ChecksPerformed"
        type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            The ChecksPerformed element indicates whether required product
            data quality checks gave been performed.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChecksApproved"
        type="xs:boolean">
        <xs:annotation>
          <xs:documentation>
            The ChecksApproved element indicates whether required product
            data quality checks have been approved.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Declaration"
        type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The Declaration element is a declaration of the product data
            quality.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductDataQualityChecks"
        type="ProductDataQualityChecksType"
        minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            The optional ProductDataQualityChecks element describes one or
            more product data quality checks.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
